<div class="section">
  <h1 class="section-title">Contacto</h1>
  Ponte en contacto con nosotros por cualquier duda o consulta a través del formulario o las vías de comunicación debajo

  <form id="contact-form" ng-submit="contactSubmit()">
    <span class="form-label">Nombre:</span><input type="text" class="styled-form" ng-model="data.contactForm.name"/>
    <span class="form-label">Email: </span><input type="text" class="styled-form" ng-model="data.contactForm.email"/>
    <span class="form-label">Mensaje:</span> <textarea rows="4" cols="40"class="styled-form" ng-model="data.contactForm.message"></textarea>

    <input type="submit" value="Enviar" class="form-submit"/>

  </form>
</div>
<div class="section">
  <p>Whatsapp: +598 95 104 017</p>
  <p>Email: amerendaruy@gmail.com</p>
  <p><a href="https://www.facebook.com/amerendar.comidasaludable" target="_blank">Facebook</a></p>

</div>
