<div class="section">
  <h1 class="section-title">Dónde estamos? </h1>
  <p>Actualmente nos encontramos en plena expansión y muy contentos de comunicarles que  estamos presentes en estos 5 maravillosos colegios:</p>
</div>
<div class="section liceo">
  <div image-loader class="image loader-white logo-liceo" ng-model="data.logos.sagradoCorazon"></div>
  <h1 class="section-title">Colegio Sagrado Corazón de Jesús - Liceo Verduna</h1>
  <div image-loader class="image loader-white foto-liceo" ng-model="data.fotos.sagradoCorazon"></div>
  <!-- <div id="map-vedruna" class="map"></div> -->
</div>
<div class="section liceo">
  <div image-loader class="image loader-white logo-liceo" ng-model="data.logos.elisaQueirolo"></div>
  <h1 class="section-title">Colegio Elisa Queirolo de Malhos</h1>
  <div image-loader class="image loader-white foto-liceo" ng-model="data.fotos.elisaQueirolo"></div>
  <!-- <div id="map-queirolo" class="map"></div> -->
</div>
<div class="section liceo">
  <div image-loader class="image loader-white logo-liceo" ng-model="data.logos.santaLuisa"></div>
  <h1 class="section-title">Colegio y Liceo Santa Luisa de Marillac</h1>
  <div image-loader class="image loader-white foto-liceo" ng-model="data.fotos.santaLuisa"></div>
  <!-- <div id="map-marillac" class="map"></div> -->
</div>

<div class="section liceo">
  <div image-loader class="image loader-white logo-liceo" ng-model="data.logos.santaMaria"></div>
  <h1 class="section-title">Colegio y Liceo Santa María de la Ayuda</h1>
  <div image-loader class="image loader-white foto-liceo" ng-model="data.fotos.santaMaria"></div>
  <!-- <div id="map-ayuda" class="map"></div> -->
</div>

<div class="section liceo">
  <div image-loader class="image loader-white logo-liceo" ng-model="data.logos.donBosco"></div>
  <h1 class="section-title">Obra Social Educativa Don Bosco</h1>
  <div image-loader class="image loader-white foto-liceo" ng-model="data.fotos.donBosco"></div>
  <!-- <div id="map-bosco" class="map"></div> -->
</div>
